{% set base_path = "" %}
{% set page_title = "Bootstrap Patterns" %}
{% set page_description = "This is the index page" %}
{% extends "layouts/layout.njk" %}
{% block page_title %}Home page test{% endblock %}
{% set main_header_classes = "jumbotron jumbotron-fluid" %}

{% import "macros/macro-card.njk" as macroCard %}

{% import "macros/macro-search.njk" as macroSearch %}

{% block main %}
  {{ super() }}
  <div class="card-deck-wrapper">
    <div class="card-deck">
    {% for card in cards %}
      {{ macroCard.cardMacro(card.card_image, card.card_title, card.card_text) }}
    {% endfor %}
    </div>
  </div>
{% endblock %}
