<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript">
  // var url = window.location;
  // Will only work if string in href matches with location
  //$('.nav a[href="'+ url +'"]').addClass('active');

  // Will also work for relative and absolute hrefs
  // $('.nav a').filter(function() {
  //     return this.href == url;
  // }).addClass('active');
</script>
