<div class="card">
  <img class="card-img-top img-fluid" src="{{ card.card_image }}" alt="{{ card.card_title }}">
  <div class="card-block">
    <h4 class="card-title">{{ card.card_title }}</h4>
    <p class="card-text">{{ card.card_text }}</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
