<div class="nav navbar-nav">
  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="#">Features</a>
  <a class="nav-item nav-link" href="#">Pricing</a>
  <a class="nav-item nav-link" href="#">About</a>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</div>
