{% macro search(placeHolder="Search stuff...", buttonText="Search") %}
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="{{ placeHolder }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ buttonText }}</button>
  </form>
{% endmacro %}
