<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Page 1 | Bootstrap Patterns</title>
  <meta name="description" content="This is page one.">
  <link rel="stylesheet" href="../css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body class="">
  <article>
   <nav id="main-nav" class="container-fluid navbar navbar-dark bg-inverse ">
    <div class="container">
     <div class="nav navbar-nav">
      <a class="nav-item nav-link" href="index.html">Index</a>
      <a class="nav-item nav-link" href="page1.html">Page 1</a>
      <a class="nav-item nav-link" href="page2.html">Page 2</a>
      <form class="form-inline pull-xs-right">
       <input class="form-control" type="text" placeholder="Search stuff...">
       <button class="btn btn-success-outline" type="submit">Search</button>
      </form>
     </div>
    </div>
   </nav>
   <header id="main-header" class="container-fluid m-t-2 m-b-2">
    <div class="container">
     <a class="btn btn-secondary" href="javascript:history.go(-1);">Back</a>
    </div>
   </header>
   <section id="main-section" class="container-fluid ">
    <div class="container">
     <h1>Lorem Ipsum</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt et eros ac mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed porttitor id tellus a molestie. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nullam turpis nulla, porta non odio sit amet, sollicitudin condimentum turpis. Ut pulvinar aliquet quam, quis imperdiet quam commodo sit amet. Nulla ut auctor lectus. Morbi nibh neque, feugiat
      quis nisi sed, porta pretium mauris. Aliquam pellentesque enim lacus, ut hendrerit quam placerat eget. Nunc lacinia sodales lorem ut viverra. Aliquam erat volutpat. Pellentesque diam libero, porttitor ut est porttitor, cursus gravida metus.</p>
     <h2>Dolor sit amet</h2>
     <p>Praesent vel risus eu orci rutrum egestas. Praesent efficitur felis a vehicula imperdiet. Quisque in tellus porttitor, dignissim massa ut, molestie enim. Phasellus sit amet ultrices quam. Ut in arcu ex. Pellentesque fermentum massa at nulla dictum
      laoreet. Etiam ac nunc tincidunt, varius tortor ut, sollicitudin libero. Suspendisse mattis dapibus ex ac commodo. In a quam dignissim, malesuada lacus sit amet, vulputate felis. Etiam sodales libero aliquam viverra consectetur. Quisque hendrerit
      mattis metus, quis eleifend felis condimentum at. Phasellus consectetur, eros ac sollicitudin egestas, sem nunc aliquam risus, in ultricies leo tellus consequat urna. Vivamus nec orci in dui facilisis iaculis. Curabitur id imperdiet massa. Donec
      in efficitur tellus. Nulla facilisi.</p>
     <h3>Consectetur adipiscing elit</h3>
     <p>Praesent sollicitudin dui non tortor finibus interdum. Nullam erat magna, congue tristique ex accumsan, tincidunt elementum magna. Nunc in sodales diam, eu sagittis ipsum. Duis a ullamcorper risus, ac fermentum elit. Cras scelerisque elementum felis
      eu vestibulum. Maecenas viverra lacus ac dolor dictum, condimentum luctus nibh faucibus. Cras efficitur tristique fermentum. Ut facilisis orci eget metus consequat eleifend. Phasellus a libero vel nibh imperdiet iaculis a ut dolor. Nam velit sem,
      hendrerit et tempor vel, consectetur euismod lorem. Morbi posuere lorem tellus. Mauris nibh enim, ultricies luctus rhoncus non, congue sit amet massa. Proin tellus felis, volutpat at dui ut, interdum hendrerit metus. Nunc pharetra lacinia venenatis.</p>
    </div>
   </section>
   <footer id="main-footer" class="container-fluid m-t-3 ">
    <div class="container">
     <p>Bootstrap Patterns © 2016 by
      <strong>Morgan Feeney</strong>
     </p>
    </div>
   </footer>
  </article>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.js"></script>
  <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script type="text/javascript">
  var url = window.location;
  // Will only work if string in href matches with location
  //$('.nav a[href="'+ url +'"]').addClass('active');
  // Will also work for relative and absolute hrefs
  $('.nav a').filter(function() {
   return this.href == url;
  }).addClass('active');
  </script>
 </body>
</html>